.deck {
  position: absolute;
  top: 40%;
  left: 10px;
}

.suit{
  position: absolute;
  top: 40%;
  left: 70px;
  transform: rotate(90deg);
}
p {
    color: #e68bd5;
    background-color: red;
}
h1 {
    color: #e68bd5
}
