.deck {
  position: absolute;
  top: 40%;
  left: 10px;
}

.suit{
  position: absolute;
  top: 40%;
  left: 70px;
  transform: rotate(90deg);
}
p {
  position: absolute;
  top: 70%;
  color:rgb(119, 219, 64);
  color-

}